* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif
    }

    body {
      background: #f4f6fb;
      color: #333;
      scroll-behavior: smooth
    }

    header {
      background: #0f172a;
      color: #fff;
      padding: 60px 20px;
      text-align: center
    }

    header h1 {
      font-size: 2.8rem
    }

    header p {
      margin: 10px 0 20px
    }

    nav a {
      color: #fff;
      margin: 0 15px;
      text-decoration: none;
      font-weight: 500
    }

    section {
      padding: 70px 10%
    }

    h2 {
      text-align: center;
      margin-bottom: 40px;
      color: #0f172a
    }

    .about p {
      max-width: 800px;
      margin: auto;
      text-align: center
    }

    .container {
      max-width: 1100px;
      margin: auto;
    }

    .skills,
    .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px
    }

    .card {
      background: #fff;
      padding: 25px;
      border-radius: 15px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
      transition: .4s;

      opacity: 0;
      transform: translateY(40px);
    }


    .card:hover {
      transform: translateY(-8px)
    }

    .btn {
      display: inline-block;
      margin-top: 20px;
      padding: 12px 30px;
      background: #0f172a;
      color: #fff;
      border-radius: 30px;
      text-decoration: none
    }

    .contact {
      text-align: center
    }

    footer {
      background: #0f172a;
      color: #fff;
      text-align: center;
      padding: 20px
    }

    /* Dark Mode */
    body.dark {
      background: #0b1220;
      color: #e5e7eb
    }

    body.dark header,
    body.dark footer {
      background: #020617
    }

    body.dark .card {
      background: #020617;
      color: #e5e7eb
    }

    .toggle {
      position: fixed;
      top: 20px;
      right: 20px;
      padding: 10px 15px;
      border: none;
      border-radius: 20px;
      cursor: pointer
    }